.bill-form {
    background-color: var(--form-group-background);
    padding: 2rem;
    border-radius: var(--form-group-radius);
}

.image-preview {
    max-width: 100%;
    height: 350px;
    background-color: var(--color-input-background);
    padding: 1rem;
    border-radius: var(--form-group-radius);
    border: 1px solid var(--color-input-border-color);
    color: #737373;
    object-fit: contain;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.btn-reset {
    margin-left: auto;
    width: 10%;
}

.btn-add-bill {
    margin-right: auto;
    width: 10%;
}

.upload-container {
    width: 100%;
    height: 350px;
    background-color: var(--form-group-background);
}

.image-input {
    display: none;
}