.bill-carousel-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bill-carousel-wrapper {
    padding: 1.5rem 3.5rem;
    background: var(--carousel-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 350px;
}

.bill-item-image {
    width: 50%;
    height: 100%;
    object-fit: contain;
    max-height: 240px;
    max-width: 200px;
}

.carousel-item {
    display: flex;
    gap: 2rem;
    height: 100%;
    min-height: 270px;
    max-height: 270px;
    border: 1px solid var(--input-border-color);
    min-width: 450px;
    max-width: 450px;
    padding: 1rem;
    margin: 0 0 0 25px;
    border-radius: var(--radius-sm);
    background-color: var(--input-background);
}

.bill-item-actions {
    display: flex;
    gap: 1rem;
}

.bill-item-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carousel-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}